<a href="<%= content.url %>" data-gu-card>
	<aside class="gu-card-container <%= content.tone %><%= content.byline_image != nil ? ' has-byline-image' : ''%>">
		<div class="heading-container">
			<h2><%= content.title %></h2>
		</div>
		<% if(content.tone) == "comment" %>
			<p class="byline"><%= content.byline %></p>
		<% end %>
		<p class="trailtext"><%= content.trailtext.gsub(/<\/?p>/, '') %></p>
		<% if(content.byline_image) %>
			<img class="byline-image" src="<%= content.byline_image %>">
		<% end %>
	</aside>
</a>
<link rel="stylesheet" href="/card.css" />
<link rel="stylesheet" href="/bower_components/guss-webfonts/nextgen-webfonts.css" />
<script src="//interactive.guim.co.uk/libs/iframe-messenger/iframeMessenger.js"></script>
<script>
    iframeMessenger.enableAutoResize();
</script>